# Model weights (too large for GitHub)
*.pth

# OS files
.DS_Store
__pycache__/
*.pyc

# IDE
.vscode/
.idea/

# Temporary
*.tmp
*.log
*.aux
*.out
*.synctex.gz
~$*


venv/
Demo/**/venv/
__pycache__/
*.pyc

# models
*.keras
*.h5

# outputs
*.png
*.jpg
*.csv

# large folders
Demo/EE655_project_demo/models/
src/Model_2_Final/model2_complete_outputs/

# environment
venv/


*.keras
*.h5
Demo/EE655_project_demo/models/
src/Model_2_Final/model2_complete_outputs/
venv/